<div class="yui-gb" style="text-align:center;margin-bottom:1em;">
	<div class="yui-u first">
		<div><%= image_tag('step_1.png') %></div>
	</div>
	<div class="yui-u"><br />
		<div><%= image_tag('step_2.png') %></div>
	</div>
	<div class="yui-u">
		<div><br /><%= image_tag('step_3.png') %></div>
	</div>
</div>
<div class="yui-gb" style="margin-left:3em;margin-bottom:2em;">
	<div class="yui-u first">
		<h2><%= image_tag('one.png', :style => 'vertical-align: middle;') %>Take a photo</h2>
	</div>
	<div class="yui-u">
		<%= image_tag('two.png', :style => 'vertical-align: middle;float:left;') %><h2>Email to photobagel@gmail.com</h2>
	</div>
	<div class="yui-u">
		<h2><%= image_tag('three.png', :style => 'vertical-align: middle;') %>Do it everyday</h2>
	</div>
</div>
<div style="border-top:1em solid #111;background:#444;padding:1em;">
<h4>I don't get it.</h4>
<p><i>Everyday</i> take a photograph with your mobile phone and email it to photobagel@gmail.com. (We will email you back a web address to view your gallery.)</p>
<h4>I STILL don't get it...</h4>
<p>I built this site because I enjoy looking at photos and remembering how I felt. <a href="http://www.photobagel.com/chap" style="color:#eee">You can see my photos here.</a></p>
<h4>Why doesn't it synergyze with my real-time networking tweety feed?</h4>
<p>Because you don't need that.</p>
<h4>Isn't this just a crappy <a href="http://www.flickr.com" style="color:#111">Flickr</a>?</h4>
<p>Yes.</p>
<h4>I want to upload 2 photos for today!</h4>
<p>Sorry, only 1.</p>
<h4>Why Not!?!?!</h4>
<p>See above.</p>
<h4>I tried to upload a pic from yesterday and it overwrote todays!</h4>
<p>Your phone is sub-par. Get one that accurately stores and transmits EXIF data. (Or just make sure you email the photo the same day you take it.)</p>
</div>