<div class="yui-gb" style="text-align:center;">
	<div class="yui-u first">
		<div><%= image_tag('step_1.png') %></div>
		<h2><%= image_tag('one.png', :style => 'vertical-align: middle;') %>Take a photo</h2>
	</div>
	<div class="yui-u">
		<div><%= image_tag('step_2.png') %></div>
		<h2><%= image_tag('two.png', :style => 'vertical-align: middle;') %>Email it to <span class="highlight">photobagel@gmail.com</span></h2>
	</div>
	<div class="yui-u">
		<div><%= image_tag('step_3.png') %></div>
		<h2><%= image_tag('three.png', :style => 'vertical-align: middle;') %>Do it everyday</h2>
	</div>
</div>