<div class="yui-gb" style="text-align:center;margin-bottom:1em;">
	<div class="yui-u first">
		<div><%= image_tag('step_1.png') %></div>
	</div>
	<div class="yui-u"><br />
		<div><%= image_tag('step_2.png') %></div>
	</div>
	<div class="yui-u">
		<div><%= image_tag('step_3.png') %></div>
	</div>
</div>
<div class="yui-gb" style="margin-left:3em">
	<div class="yui-u first">
		<h2><%= image_tag('one.png', :style => 'vertical-align: middle;') %>Take a photo</h2>
	</div>
	<div class="yui-u">
		<%= image_tag('two.png', :style => 'vertical-align: middle;float:left;') %><h2>Email to photobagel@gmail.com</h2>
	</div>
	<div class="yui-u">
		<h2><%= image_tag('three.png', :style => 'vertical-align: middle;') %>Do it everyday</h2>
	</div>
</div>