<p>
  <b>User:</b>
  <%=h @photo.user %>
</p>

<p>
  <b>Name:</b>
  <%=h @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Taken at:</b>
  <%=h @photo.taken_at %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @photo.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @photo.latitude %>
</p>

<p>
  <b>Direction:</b>
  <%=h @photo.direction %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>